@set('label', $props.get('label', 'ui.buttons.submit'))

<button
  class="bg-primary-500 hover:bg-primary-700 text-white font-medium text-sm py-1.5 px-3 rounded"
  type="submit"
>
  {{ t(label) }}
</button>
