@layout('web::layouts/default')

@section('body')
<div>
  <h1>Please verify your emails</h1>
  <p>
    We've send you an email with a link to verify your email, please click that link to continue
  </p>
</div>
@end
