@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html, body {
  background-color: #F7F8FA;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
  overflow-x: hidden;
}

.ss-main {
  @apply py-2;
}

.ss-main .ss-values {
  @apply py-2;
}

.ss-main .ss-values .ss-value {
  @apply bg-primary-500 px-2 py-1 rounded-md;
}

.ss-content .ss-list {
  @apply mt-2 space-y-1;
}

.ss-content .ss-list .ss-option:hover {
  @apply bg-gray-100 text-gray-800 rounded-md;
}

.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  @apply relative flex justify-between bg-gray-100 text-gray-800 rounded-md;
}

.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected:after {
  content: '✔';
  @apply text-green-500;
}


.blur1 {
  position: absolute;
  width: 316px;
  height: 316px;
  left: 1200px;
  top: 365px;

  background: rgba(143, 237, 169, 0.75);
  filter: blur(250px);
}

.blur2 {
  position: absolute;
  width: 316px;
  height: 316px;
  left: 500px;
  top: 187px;

  background: rgba(69, 89, 197, 0.75);
  filter: blur(250px);
}

@media (max-width: 768px) {
  .blur1 {
    left: 220px;
    top: 400px;
    width: 150px;
    height: 150px;
    filter: blur(110px);
  }

  .blur2 {
    left: 15px;
    top: 280px;
    width: 150px;
    height: 150px;
    filter: blur(110px);
  }
}


.titlehero {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 77px;
  font-size: 64px;

  /*-webkit-text-stroke: 1px #60A5FA;*/
  -webkit-text-stroke-width: 1px;
 /* -webkit-text-stroke-color: #60A5FA;*/
  background: -webkit-linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #09E5C3 91%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px transparent;
  color: transparent;
}
